html, body {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}
  html{
    background: linear-gradient(to bottom right, #76bddb, #a57513);
    display: inline;
    font-family: 'Playfair Display', serif;
    overflow: hidden;
    color: red;
  }

  .toothperformance{
    position: absolute;
    bottom: 1px;
    left: 10px;
  }
  .toothtitle1{
    overflow: hidden;
    position: absolute;
    top: 1px;
    right: 50px;
    font-size: 160px;
    font-style: italic;
    text-shadow: 3px 3px blue;
  }
  .toothtitle2{
    overflow: hidden;
    position: absolute;
    font-style: italic;
    bottom: 1px;
    right: 1px;
    font-size: 160px;
      text-shadow: 3px 3px blue;
  }
